@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=IBM+Plex+Mono:wght@100&family=Inconsolata:wght@900&display=swap');
*{
  margin : 0;
  padding : 0;
  font-family: 'Inconsolata';
  font-size : large;
  color :#742ca8;
  font-weight :bolder;
  background-color: #151515;
}

.container{
  margin : 1rem;
  border: solid;
  border-width: .5rem;
  padding-bottom: 1rem;
}

.header{
  display: flex;
  flex-direction : column;
  justify-content : center;
  align-items: center;
  gap : 2rem;
  height: 22rem;
  width: 100%;
  background-color: #151515;
  margin-top : 1.5rem;
}

.avatar{
  width: auto;
  height: 15rem;
  border : solid;
  border-radius: 30px;
  border-width: .2rem;
  margin-top: 2%;
}



.mainMenu{
  display : flex;
  flex-direction: row;
  padding : 2 rem;
  padding-bottom: 0;
  width: 90%;
  height: 100%;
  justify-content :center;
  gap : 3%;
  align-items: center;
}

.bio{
  padding : 1rem;
}

.menu{
  border : solid;
  border-radius: 10px;
  padding: .5rem;
  font-size : 85%;
  background-color: #151515;
}

.menu:hover{
  padding : .8rem;
  transform: translateY(-10px);
}
.activeMenu:hover{
  padding : .8rem;
  transform: translateY(-10px);
}

.menu:active{
  background-color : #742ca8;
}
.activeMenu:active{
  background-color : #742ca8;
}

.activeMenu{
  border : solid;
  border-radius: 10px;
  padding: .5rem;
  background-color: #742ca8;
  color : #151515;
}

/* work body styling */
.workBody{
  background-color: #151515;
  display : flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top : 12%;  
  gap : 3rem;
}

.workCard{
  display: flex;
  flex-direction: column;
  border : solid;
  border-width: .4rem;
  padding: .5rem;
  justify-content: flex-start;
  align-items: flex-start;
  gap : 2rem;
  max-width : 80%;
  padding-top : 1.2rem;
  padding-bottom : 1.2rem;
}

.workInfo{
  display: flex;
  flex-direction : column;
  width : 95%;
  justify-content: flex-start;
  gap : 1rem;
}

.workImage{
  width : 90%;
  height: auto;
  margin-left: 1rem;
}

.workTitle{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration : underline;
}
.workDate{
  display: flex;
  justify-content: flex-end;
}

/* SocialMedia Body Styling */
.socialBodyFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom : 3rem;

}
.socialBody{
  margin-top : 4rem;
  width : 90%;
  display: flex;
  justify-content: space-evenly;
  gap : 5%;

}

.socialCard{
  width : 20%;
  height : 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialImage{
  width : 100%;
  height: 100%;
  border :solid;
 border-width : .4rem;
  border-radius: 50%;
}

/* art styling */
.artBody{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : .3rem;
  margin-bottom : 2rem;
  margin-top : 2rem;
  padding-top : 10%;
}

.artImage{
  max-width: 90%;
  height: auto;
  border : solid;
  border-width : .4rem;
}

.artButton {
  border : solid;
  border-width: .1rem;
  padding : .2rem;
}

.artButton:hover{
  background-color: #742ca8;
  color : #151515;
}

.artButton:active{
  background-color: #151515;
  color : #742ca8;
}
/* video edit styling */
.videoEditBody{
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  margin-top : 2rem;
  margin-bottom : 2rem;
}
.videoEdit{
  margin-top: .4rem;
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
  align-items: center;
  gap : 1rem;
}

.videoCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border : solid;
  border-width: .4rem;
  width : 80%;
}

.videoImage{
  width : 100%;
}